<!DOCTYPE html>
<!-- TODO: Calendar -->
<!-- TODO: General Analytics -->
<!-- TODO: Next Test In... -->
<html lang="en">
  <head>
    <title>Inquizica</title>
    <meta charset="utf-8" />
    <meta name="description" content="Distributed Practice Testing platform and analytics." />
    <meta name="keywords" content="education, learning" />
    <meta name="author" content="Sean Lynch" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <script src="https://npmcdn.com/jquery@3.1.0/dist/jquery.min.js"></script>
    <!-- <script src="https://npmcdn.com/remarkable@1.6.2/dist/remarkable.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>

    <style type="text/css">
      #logo {
        font-family: 'Bitter', serif;
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      #quiz_list {
        background: white;
        padding-bottom: 0.5em;
      }

      body {
        background: #f0f0f0 !important;
      }

      .hidden.menu {
        display: none;
      }

      .masthead.segment {
        min-height: 80px;
        padding: 1em 0em;
      }
      .masthead .logo.item img {
        margin-right: 1em;
      }
      .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
      }
      .masthead h1.ui.header {
        margin-top: 1.2em;
        margin-bottom: 0em;
        font-size: 4em;
        font-weight: normal;
      }
      .masthead h2 {
        font-size: 1.7em;
        font-weight: normal;
      }

      .ui.vertical.stripe {
        padding: 8em 0em;
      }
      .ui.vertical.stripe h3 {
        font-size: 2em;
      }
      .ui.vertical.stripe .button + h3,
      .ui.vertical.stripe p + h3 {
        margin-top: 3em;
      }
      .ui.vertical.stripe .floated.image {
        clear: both;
      }
      .ui.vertical.stripe p {
        font-size: 1.33em;
      }
      .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
      }

      .quote.stripe.segment {
        padding: 0em;
      }
      .quote.stripe.segment .grid .column {
        padding-top: 5em;
        padding-bottom: 5em;
      }

      .footer.segment {
        padding: 5em 0em;
      }

      .secondary.pointing.menu .toc.item {
        display: none;
      }

      .masthead {
        background: #006C94 !important;
        background-position: center center !important;
      }

      .ui.secondary.pointing.menu,
      .ui.secondary.inverted.pointing.menu {
        border-color: transparent !important;
      }

      @media only screen and (max-width: 700px) {
        .ui.fixed.menu {
          display: none !important;
        }
        .secondary.pointing.menu .item,
        .secondary.pointing.menu .menu {
          display: none;
        }
        .secondary.pointing.menu .toc.item {
          display: block;
        }
        .masthead.segment {
          /*min-height: 350px;*/
        }
        .masthead h1.ui.header {
          font-size: 2em;
          margin-top: 1.5em;
        }
        .masthead h2 {
          margin-top: 0.5em;
          font-size: 1.5em;
        }
      }
    </style>

  </head>
  <body>
    {{> navMenu }}

    <!-- Alert Msg -->
    <div id="redirect-msg" class="ui floating compact warning message" style="display:none; width:400px !important; position:absolute; margin-left: -200px; left: 50%; top: 3em; z-index:10; ">
      <i class="close icon"></i>
      <div class="header h"></div>
      <p class="b"></p>
    </div>

    <!-- Page Contents -->
    <div class="pusher">

      <!-- Nav -->
      <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            <a id="logo" class="header item" href="/">Inquizica</a>
            <div style="line-height: 1.4em;" class="item">Account Dashboard</div>
            <!-- <a class="item">Careers</a> -->
            <div class="right item">
              <a href="/api/auth/logout" class="ui inverted button">Log out</a>
            </div>
          </div>
        </div>
      </div>

      <div style="margin: 1em 0;" class="ui hidden section divider"></div>

      <!-- User View -->


      <div class="ui two column centered stackable grid container">
        <div class="column">
          <div id="main"></div>


          <div class="ui white segment">
            <div class="ui cards">
            <!-- {{#each courses}}
              <div class="card">
                <div class="content">
                  <div class="header"><a href="/course/{{this.id}}">{{this.title}}</a></div>
                  <div class="meta">Completion: {{this.quizProgression}}%</div>
                  <div class="description"></div>
                </div>
              </div>
            {{/each}} -->

            <div>

            </div>

            {{#if user.isAdmin }}
              {{#each courses}}
                <div class="card">
                  <div class="content">
                    <div class="header"><a href="/course/{{this.id}}">{{this.title}}</a></div>
                    <div class="meta">Completion: {{this.quizProgression}}%</div>
                    <!-- <div class="description"></div> -->
                  </div>
                </div>
              {{/each}}
              <div class="card">
                <div class="content">
                  <div class="header"><a href="/scheduler"><i class="add circle icon"></i> Create Course </a></div>
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <div class="header join" style="margin-bottom: 0.5em;"> <i class="add user icon"></i>Join Course</div>
                  <div>
                    <form class='ui form' method="post" action="/promoAdd">
                      <div class='inline fields' style="margin-bottom: 0em !important;">
                        <div class='field' style="padding-right: 7px !important;">
                          <input name='promocode' class="pc_field" placeholder='Promo Code' type='text' style="width: 100px;">
                        </div>
                        <div class='field'>
                          <button class='ui promoSubmit button' type='submit'>Add</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {{/if}}

            {{#if user.isTeacher }}
              {{#each courses}}
                <div class="card">
                  <div class="content">
                    <div class="header"><a href="/course/{{this.id}}">{{this.title}}</a></div>
                    <div class="meta">Completion: {{this.quizProgression}}%</div>
                    <!-- <div class="description"></div> -->
                  </div>
                </div>
              {{/each}}
              <div class="card">
                <div class="content">
                  <div class="header"><a href="/scheduler"><i class="add circle icon"></i> Create Course </a></div>
                </div>
              </div>
            {{/if}}

            {{#if user.isStudent }}
              {{#each courses}}
                <div class="card">
                  <div class="content">
                    <div class="header"><a href="/course/{{this.id}}">{{this.title}}</a></div>
                    <div class="meta">Completion: {{this.quizProgression}}%</div>
                    <!-- <div class="description"></div> -->
                  </div>
                </div>
              {{/each}}
              <div class="card">
                <div class="content">
                  <div class="header join" style="margin-bottom: 0.5em;"> <i class="add user icon"></i>Join Course</div>
                  <div>
                    <form class='ui form' method="post" action="/promoAdd">
                      <div class='inline fields' style="margin-bottom: 0em !important;">
                        <div class='field' style="padding-right: 7px !important;">
                          <input name='promocode' class="pc_field" placeholder='Promo Code' type='text' style="width: 100px;">
                        </div>
                        <div class='field'>
                          <button class='ui promoSubmit button' type='submit'>Add</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {{/if}}

            </div>

          </div>
        </div>
      </div>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/babel">
      var DashContainer = React.createClass({
        getInitialState: function () {
          return {
            user: {},
            courses: []
          }
        },
        componentDidMount: function () {
          var user_url = '/api/user/' + {{ user.id }};
          var prom1 = axios.get(user_url);
          var course_url = '/api/user/' + {{ user.id }} + '/courses';
          var prom2 = axios.get(course_url);
          var self = this;
          Promise.all([prom1, prom2]).then(function (resp) {
            console.log(resp[1]);
            self.setState({
              user: resp[0].data,
              courses: resp[1].data
            });
          })
          .catch(function (err) {
            console.log(err);
          });
        },
        render: function () {
          var classes = [];
          this.state.courses.forEach(function (course, index) {
            classes.push(<Course id={course.id} title={course.title} key={index}></Course>);
          });

          return (
            <div className="ui white segment">
              <h1 className="ui header">{this.state.user.firstname} {this.state.user.lastname}
                <div className="sub header">
                  {this.state.user.type} | {this.state.user.affiliation} | {this.state.user.phone}
                </div>
              </h1>
              {classes}
            </div>


          )
        }
      });

      var Course = React.createClass({
        render: function () {
          var url = '/course/' + this.props.id;
          return (
            <div>
              <a className="" href={url}>{this.props.title}</a>
            </div>
          )
        }
      })

      ReactDOM.render(
        <DashContainer></DashContainer>,
        document.getElementById('main')
      );
    </script>


    <script>
      $(function () {
        // $('.promoSubmit').on('click', function (e) {
        //   e.preventDefault();
        //   var pack = { promo: $('input.pc_field').val() }
        //   console.log("A", pack);
        //   $.get('/promoAdd', pack);
        // });
      });
    </script>
    <script src="../public/javascripts/redirectmsg.js"></script>

  </body>
</html>
