<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <style>
    table {
      border-collapse: collapse;
    }
    td {
      padding: 5px;
    }
  </style>
</head>

<body>

<div>
  <form class="myForm" enctype="multipart/form-data">
  <input class="fileInput" type='file' name='spreadsheet'>
  <br />
  <input type='submit' value="Upload">
</div>

<div>
  <table>
      <tr>
        <th>Course</th>
        <th>Quiz</th>
        <th>Remove</th>
      </tr>
    {{#each courses}}
      <tr>
        <td><a href="/course/{{this.Course_id}}">{{this.Course}}</a></td>
        <td><a href="/quiz/{{this.Quiz_id}}">{{this.Quiz}}</a></td>
        <td><a href="/admin/delete?quiz={{this.Quiz_id}}">Delete Quiz</a></td>
      </tr>
    {{/each}}
  </table>
</div>

<script>
$(function () {
  $('.myForm').on('submit', function (e) {
    e.preventDefault();
    var file = $('.fileInput')[0].files[0];
    var formData = new FormData();
    formData.append('spreadsheet', file);

    $.ajax({
      url: '/api/admin',
      type: 'POST',
      success: function (res) {
        console.log(res);
        window.location.href = res.redirect_url;
      },
      error: function (err) {
        console.log(err);
      },
      data: formData,
      processData: false,
      contentType: false
    });
  });
});

</script>

</body>
</html>
